.container{

  /* background-image: url(https://images.pexels.com/photos/1558916/pexels-photo-1558916.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
}
.row{
  display:grid;
  place-content:center;
  background-color: rgba(0, 0, 0, 0.326);
}
h1{
  padding: 10px;
  margin: 0px;
  text-align: center;
}
table{
  border:solid 5px rgb(97, 48, 0);
  border-spacing: 0px;
  width: 700px;
  height: 500px;
  margin-bottom: 10px;
  /* position: relative; */
  /* left:570px; */
}
.black1{
  width: 80px;
  height: 80px;
  background-color: rgb(61, 61, 61);
  font-size: 50px;
  text-align: center;
}
.white1{
  width: 80px;
  height: 80px;
  background-color: white;
  margin: 20px 20px;
  font-size: 50px;
  text-align: center;
}
.black2{
  width: 80px;
  height: 80px;
  background-color: rgb(61, 61, 61);
  font-size: 50px;
  text-align: center;
  color: rgb(255, 205, 113);
}
.white2{
  width: 80px;
  height: 80px;
  background-color: white;
  margin: 20px 20px;
  font-size: 50px;
  text-align: center;
  color: rgb(255, 205, 113);
}
.white{
  background-color: white;
}
.black{
  background-color: rgb(61, 61, 61);
}
.coins{
  width: 50px;
  height: 60px;
}
